:root {
    --window-left: 50px;
    --window-top: 50px;
}

#TreeWindow {
    /* Changed from 'a' to 'fixed' */
    bottom: 10%;     /* Distance from the bottom of the viewport */
    left: 2%;       /* Distance from the left of the viewport */
    z-index: 1000;    /* Ensures it's on top */
    border: none;
    left: var(--window-left);
    top: var(--window-top);
}

#Trefame {
    width: 240px;     /* Distance from the bottom of the viewport */
    height: 280px;       /* Distance from the left of the viewport */
    margin: auto;
}

.draggable {
    position: absolute;
    width: 250px;
    height: 280px;
    padding: 25px;
    z-index: 9999;
    cursor: move;
}